@import '@/styles/var';

.v-md-editor {

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;


        .modal {

            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            position: relative;
            width: 90%;
            height: 90%;

            .monolith {
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
            }

            @media only screen and (max-width: 1240px) {

                overflow-y: scroll
            }

            .header-title {
                display: flex;
                justify-content: center;
                color: #ddd;
                padding: 15px 10px;
                background: #1976d2;
            }

            iframe {
                width: 100%;
                height: 100%;
                border: none;
            }

            button.close-button {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #ddd;
                border: none;
                padding: 8px 12px;
                border-radius: 50%;
                cursor: pointer;
            }

            button:hover {
                background-color: #ccc;
            }

            .search-box {
                padding: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .search-box-input {
                padding: 1rem;
                border: 1px solid #ccc;
                border-radius: 1rem;
            }

            .upload-data {
                margin-top: 1px;
                margin-bottom: 1px;
            }

            .container-area {
                display: flex;
                gap: 1em;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: flex-start;
                /* align items in Main Axis */
                align-items: stretch;
                /* align items in Cross Axis */
                align-content: stretch;
                /* Extra space in Cross Axis */
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                height: 100%;

                @media only screen and (max-width: 1483px) {
                    display: block;

                }
            }


            .container-area {

                >div {
                    flex-grow: 1;
                    box-shadow: 0 1px 7px 3px #f3f3f3;
                    border-radius: 1rem;
                }

                div.info-area {
                    flex-basis: 75%;
                    flex-grow: 0;
                    max-width: 75%;
                    height: 100%;

                    @media only screen and (max-width: 1483px) {
                        flex-basis: 100%;
                        max-width: 100%;
                        margin-top: 1rem;
                    }

                    .pagination {
                        display: flex;
                        gap: 0.51rem;
                    }


                    .buttons {
                        display: flex;
                        align-items: center;
                    }



                    /* CSS */
                    .normal-button {
                        appearance: button;
                        background-color: #1652F0;
                        border: 1px solid #1652F0;
                        border-radius: 4px;
                        box-sizing: border-box;
                        color: #FFFFFF;
                        cursor: pointer;
                        font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
                        font-size: 14px;
                        line-height: 1.15;
                        overflow: visible;
                        padding: 6px;
                        position: relative;
                        text-align: center;
                        text-transform: none;
                        transition: all 80ms ease-in-out;
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                        width: fit-content;
                    }

                    .normal-button.selected {
                        background-color: #4CAF50;
                    }

                    .normal-button.delete {
                        background-color: #c33c3c;
                        border-color: #b44000
                    }

                    .normal-button.delete:hover {
                        background-color: #b4000f;
                        border-color: #b44000
                    }

                    .normal-button:disabled {
                        opacity: .5;
                    }

                    .normal-button:focus {
                        outline: 0;
                    }

                    .normal-button:hover {
                        background-color: #2b5fe4;
                        border-color: #2b5fe4;
                    }

                    .normal-button:active {
                        background-color: #0039D7;
                        border-color: #0039D7;
                    }
                }

                .data-area {
                    height: 100%;

                    @media only screen and (max-width: 1483px) {
                        height: auto;
                    }
                }

                .server-data {
                    height: calc(100% - 8.1rem);
                    overflow-y: auto;

                    .delete-checkbox {
                        padding: 30px;

                        input {
                            width: 20px;
                        }
                    }


                }

                div.upload-area {
                    max-height: 400px;
                }

                .drop-area {
                    height: 100px;
                    background-color: #ccc;
                    display: flex;
                    justify-content: center;
                    vertical-align: middle;
                    align-items: center;
                    border-radius: 1rem;
                    cursor: pointer;
                }

                .drop-area-wrap {
                    padding: 1rem;
                }

                .image-preview {
                    display: flex;
                }

                .image-preview img {
                    object-fit: cover;
                    width: 100px;
                    height: 100px;


                }

                .progress-bar-wrapper {
                    fieldset {

                        border: none;
                        border-radius: 1rem;
                        background: #f6f6f6;
                        padding: 0.2rem;
                        overflow: hidden;
                    }
                }

                .progress-bar {
                    background-color: #2196f3;
                    width: 0%;
                    display: flex;
                    align-items: center;
                    color: #f3f3f3;
                    border-radius: 1rem;

                    legend {

                        display: flex;
                        gap: 1em;
                        padding: 8px;
                        align-items: center;

                        .small-name {
                            display: block;
                            font-size: 12px;
                            flex-grow: 100;
                        }
                    }
                }


                .info-message {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 400px;
                }

                .message-area{
                    width: 10%;
                    padding: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }


            }

            @import '@/assets/css/style';

        }
    }
}