/* @font-face {
  font-family: 'v-md-iconfont';
  src: url('../font/iconfont2.eot?t=1576231776697'); 
  src: url('../font/iconfont2.eot?t=1576231776697#iefix') format('embedded-opentype'),
    url('../font/iconfont2.woff?t=1576231776697') format('woff'),
    url('../font/iconfont2.ttf?t=1576231776697') format('truetype');
} */

@font-face {
  font-weight: 100 700;
  font-family: 'v-md-iconfont';
  font-style: normal;
  src: url(../font/iconfont3.woff2) format('woff2');
}



[class*='v-md-icon-'] {
  font-size: 32px;
  font-family: 'v-md-iconfont' !important;
  font-style: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class*='v-md-editor__menu-item']
{
  font-family: Arial, Helvetica, sans-serif;
}

.v-md-icon-preview::before {
  content: '\ef42';
}

.v-md-icon-refresh-right::before {
  content: '\e614';
}

.v-md-icon-html::before{
  content: '\f71b';
}

.v-md-icon-refresh-left::before {
  content: '\e615';
}

.v-md-icon-zoom-in::before {
  content: '\e616';
}

.v-md-icon-zoom-out::before {
  content: '\e617';
}

.v-md-icon-toc::before {
  content: '\e8de';
}

.v-md-icon-sync::before {
  content: '\ea18';
}

.v-md-icon-emoji::before {
  content: '\e67b';
}

.v-md-icon-checkbox::before {
  content: '\f683';
}

.v-md-icon-clear::before {
  content: '\e5cd';
}

.v-md-icon-tip::before {
  content: '\e8f1';
}

.v-md-icon-save::before {
  content: '\e161';
}

.v-md-icon-link::before {
  content: '\e157';
}

.v-md-icon-img::before {
  content: '\e3f4';
}

.v-md-icon-code::before {
  content: '\e86f';
}

.v-md-icon-ul::before {
  content: '\e896';
}

.v-md-icon-ol::before {
  content: '\e242';
}

.v-md-icon-redo::before {
  content: '\e15a';
}

.v-md-icon-undo::before {
  content: '\e166';
}

.v-md-icon-quote::before {
  content: '\f0bf';
}

.v-md-icon-bold::before {
  content: '\e238';
}

.v-md-icon-strikethrough::before {
  content: '\e257';
}

.v-md-icon-subscript::before {
  content: '\f111';
}

.v-md-icon-arrow-down::before {
  position: absolute;
  left: -15px;
  font-size: 20px;
  content: '\e313';  
}

.v-md-icon-open-in-new::before {
  content: '\e641';
}

.v-md-icon-under-line::before {
  content: '\e249';
}

.v-md-icon-italic::before {
  content: '\e23f';
}

.v-md-icon-horizontal::before {
  content: '\f108';
}

.v-md-icon-table::before {
  content: '\f191';
}

.v-md-icon-fullscreen::before {
  content: '\e5d0';
}
